/*-------------------------------------------------------------------------------------------*
*                                 CUSTOM CSS - GENERAL ELEMENTS                              *
*-------------------------------------------------------------------------------------------*/

/* Autofill Chrome without style*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important; /* Transparent background */
    -webkit-text-fill-color: #e5fff3 !important; /* Font color */
}

/* Back to top
=================================================================== */
.back-to-top {
    display: inline-block;
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 20px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* Image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    /* TODO
    background: #32a67b url(../../images/cd-top-arrow.svg) no-repeat center 50%; */
    background: #595a59 url(../../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.back-to-top.cd-is-visible, .back-to-top.cd-fade-out, .back-to-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.back-to-top.cd-is-visible {
    /* Button becomes visible */
    visibility: visible;
    opacity: 1;
}
.back-to-top.cd-fade-out {
    /* If the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.back-to-top:hover {
    /* TODO
    background-color: #337059; */
    background-color: #343434;
    opacity: 1;
}

/* Error pages */
.back-to-top-error {
    background: #4DB3A2 url(../../img/cd-top-arrow.svg) no-repeat center 50% !important;
}

.back-to-top-error:hover {
    background-color: #3D9082 !important;
    opacity: 1 !important;
}

/* Custom logout button with icon
   Delete default style */
.button-logout{
    background:none;
    border:none;
    text-transform: uppercase;
}

/* Footer admin layout*/
/*  Copyright */
.copyright-admin {
    text-align: center;
    margin: 30px auto 0 0;
    padding: 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/* Author's name */
.copyright-admin a {
    text-decoration: none;
    color: #4DB3A2;
}

.copyright-admin a:active,
.copyright-admin a:focus,
.copyright-admin a:hover{
    color: #3D9082 !important;
}

/* Logo HP CDS*/
.logoHP-admin{
    text-align: center;
    width: 100%;
    margin: 25px 0 20px 0;
}

.logoHP-admin img {
    width: 95px;
    height: 95px;
}

/* Media queries
======================================================*/
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    /* Back top top */
    .back-to-top {
        height: 40px;
        width: 40px;
    }
}

/* Max-width: 480px */
@media (max-width: 480px) {

    /* Copyright */
    .copyright-admin {
        font-size: 13px;
    }

    /* Logo HP */
    .logoHP-admin img {
        width: 90px;
        height: 90px;
    }
}
