/*-------------------------------------------------------------------------------------------*
*                                 CUSTOM CSS - GENERAL ELEMENTS                              *
*-------------------------------------------------------------------------------------------*/

/* Autofill Chrome without style */
.autofill-input:-webkit-autofill,
.autofill-input:-webkit-autofill:hover,
.autofill-input:-webkit-autofill:focus,
.autofill-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important; /* Transparent background */
    -webkit-text-fill-color: #e5fff3 !important; /* Font color */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important; /* Transparent background */
}

/* Accordion password - Admin management */
.panel-instruction-create {
    margin: 35px 0 50px 0 !important;
}

/* Index and create views */
#list-domain,
#list-panel,
#create-domain,
#edit-domain {
    margin: 0 7px;
}

/* Row with more space */
.space-firstRow {
    margin: -10px -15px 0 -15px;
}

.space-firstRowEdit {
    margin-top: 25px;
}

.space-secondRow {
    margin: 30px -15px 10px -15px;
}

.space-imageRow {
    margin: 35px -15px 0 -15px;
}

.panel-row {
    margin-top: 40px;
}

.space-checkboxCol {
    margin-top: 10px;
}

.inputGroup-checkBox {
    top: -15px;
}

.form-subtitle{
    margin-top: 25px;
}

.group-subtitle {
    margin-top: -25px;
}

.size-legend {
    font-size: 22px !important;
}

.break-word {
    word-break: break-all;
}

/* Icon offset */
.icon-offset {
    margin: 10px 125px 4px 10px !important;
}

/* Position confirmation delete button */
#delete-confirm-popover {
    margin: 0 0 50px 0;
}

.check-delete {
    display: inline-block;
    top: -22px;
    margin-left: 20px;
}

.check-delete-more {
    top: -22px;
    margin: 5px 0 10px 0;
}

/* Profile image */
.profileImage-view {
    float: left;
    height: 38px;
    display: inline-block;
}

.legend-profileImage {
    margin-bottom: 30px;
}

/* Title profile image */
.title-profileImage {
    font-weight: 600;
    font-variant: small-caps;
}

/* Image profile - Note */
.profileImage-note {
    margin-top: 20px;
    font-weight: 400;
}

.form-control:focus {
    border-color: rgb(77, 179, 162) !important;
    outline: 0 !important;
}

.form-shadow:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
}

/* Questions in answer */
.show-entity {
    margin-right: 5px;
    display: inline-block;
}

.show-entity:hover {
    color: #0b1014;
}

.show-entity-link:hover,
.show-entity-link:active,
.show-entity-link:focus {
    text-decoration: none;
}

.home-icon {
    color: #757575 !important;
}

/* Multi-select - Create view
=================================================================== */
.ms-container {
    background: transparent url('../../img/select/switch.png') no-repeat 50% 70% !important;
    width: 100% !important;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
    color: #000000 !important;
    background-color: #D8ECDD !important;
    font-weight: 400 !important;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
    font-weight: 300;
}

.ms-container .ms-list.ms-focus {
    border-color: rgb(77, 179, 162) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
}

.custom-header {
    text-align: center;
    background-color: #4DB3A2;
    color: white;
    border: #8B8C7F 2px solid;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    padding: 0 4px;
}

.buttons-select {
    margin-top: 20px;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover {
    color: #000;
}

/* Multi-select - Edit view
=================================================================== */
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    color: #FFFFFF !important;
    background: #4DB3A2 !important;
    margin: 5px 0 5px 6px !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFF !important;
    margin-right: 5px !important;
    font-size: 16px !important;
    padding-bottom: 2px !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333 !important;
}

.btn-multiSearch {
    margin-top: 2px !important;
    margin-left: -42px !important;
}

.btn-multiSearch:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18) !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #D8ECDD !important;
    color: black !important;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    outline: 0 !important;
    border-color: rgb(77, 179, 162) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
}

.select2-container--bootstrap .select2-dropdown {
    outline: 0 !important;
    border-color: rgb(77, 179, 162) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(51, 146, 98, 0.6) !important;
}

.select2-results__option {
    font-weight: 300;
}

.select2-results__option:hover {
    font-weight: 400 !important;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #C4CFC8 !important;
    color: black !important;
    font-weight: 600 !important;
}


.select2-container--bootstrap .select2-dropdown {
    margin-top: 0 !important;
}

/* Checker availibility
=================================================================== */
/* Success */
.availibility-success {
    color: #3c763d;
}

/* Error */
.availibility-error {
    color: #A94441;
}

/* Input - Icons
=================================================================== */
/* Remove IE default icon password */
.password-input::-ms-clear,
.password-confirm-input::-ms-clear,
.backendPassword-input::-ms-clear {
    display: none;
    width:0;
    height:0 !important;
}

/* Remove IE default X */
.user-input::-ms-clear,
.backend-input::-ms-clear {
    display: none;
    width:0;
    height:0 !important;
}

/* Remove icon in noRole page */
.i-delete-noRole {
    position: absolute;
    top: 10px;
    right: 100px;
    z-index: 1999;
    cursor: pointer;
    color: #4DB3A2;
}

.i-delete-backend,
.i-delete-username-backend {
    display: none;
    position: absolute !important;
    right: 170px !important;
    cursor: pointer;
    top: 51px;
    z-index: 1999;
    font-size: 15px;
    color: #AAAAAA !important;
}

.i-delete-without-backend,
.i-delete-without-name-backend {
    display: none;
    position: absolute !important;
    right: 50px !important;
    cursor: pointer;
    top: 52px;
    z-index: 1999;
    font-size: 15px;
    color: #AAAAAA !important;
}

.i-delete-reformat-backend {
    display: none;
    position: absolute !important;
    right: 170px !important;
    cursor: pointer;
    top: 51px;
    z-index: 1999;
    font-size: 15px;
    color: #AAAAAA !important;
}

.i-delete-textArea-backend {
    display: none;
    position: absolute !important;
    right: 48px !important;
    cursor: pointer;
    top: 52px;
    z-index: 1999;
    font-size: 15px;
    color: #AAAAAA !important;
}

.i-delete-quickSearch {
    display: none;
    position: absolute !important;
    right: 30px !important;
    cursor: pointer;
    top: 3px;
    z-index: 1999;
    font-size: 15px;
    color: #AAAAAA !important;
}

.i-delete, .i-show, .i-show-confirm,
.i-show-admin-password,
.i-show-admin-confirmPassword {
    display: none;
}

/* Error login alert
=================================================================== */
/* Remove blue border */
.sweet-alert:focus {
    outline:none;
}

/* General elements
=================================================================== */
.password-admin {
    margin-bottom: 10px;
}

/* Button group in create and edit views */
.domain-button-group {
    margin-top: 45px;
}

.domain-button-group-less {
    margin-top: 25px;
}

/* Entity message */
.alert-entity {
    margin: 0 0 60px 0;
}

/* Entity error message */
.alert-entity-error {
    margin: 0 0 50px 0;
}

/* Log configuration */
.logConfig-button {
    margin: 70px 0 40px 0;
}

/* Log configuration - Alerts */
.alert-log-success,
.alert-log-noChanges,
.alert-log-error,
.alert-log-internalError {
    margin: 0 0 60px 0;
}

.alert-danger-custom-backend {
    background-color: #C16868 !important;
    border-color: #040202 !important;
    color: #FFFFFF !important;
}

.alert-success-custom-backend {
    background-color: #5F9A75 !important;
    border-color: #040202 !important;
    color: #FFFFFF !important;
}

.alert-info-custom-backend {
    background-color: #5984C4 !important;
    border-color: #040202 !important;
    color: #FFFFFF !important;
}

/* Refresh icon animation */
.refresh-icon-stop {
    display: none !important;
}

.refresh-icon {
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
    -o-animation: spinO .7s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinMoz {
    from { -moz-transform: scale(1) rotate(0deg);}
    to { -moz-transform: scale(1) rotate(360deg);}
}

@-o-keyframes spinMoz {
    from { -o-transform: scale(1) rotate(0deg);}
    to { -o-transform: scale(1) rotate(360deg);}
}

/* Buttons
=================================================================== */
.btn-success {
    color: #fff;
    background-color: #5F9A75 !important;
    border-color: #5F9A75 !important;
}

.btn-success:hover {
    color: #fff;
    background-color: #3D7B57 !important;
    border-color: #3D7B57 !important;
}

.btn-danger {
    color: #fff;
    background-color: #C16868 !important;
    border-color: #C16868 !important;
}

.btn-danger:hover {
    color: #fff;
    background-color: #9F514F !important;
    border-color: #9F514F !important;
}

/* Dashboard
=================================================================== */
.page-md .widget-bg-color-white:hover,
.page-md .widget-bg-color-white:active,
.page-md .widget-bg-color-white:focus {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.40);
}

.portlet-users {
    margin-top: 40px !important;
}

.portlet-users .portlet {
    height: 523px;
 }

.mt-comments .mt-comment .mt-comment-body .mt-comment-info:after{
    clear:both;
}

.mt-comments .mt-comment{
    padding: 10px;
    margin: 0 0 10px;
}

.mt-comments .mt-comment .mt-comment-img{
    width: 40px;
    float: left;
}

/* Recent users image */
.recentUser-image {
    float: left;
    height: 47px;
    display: inline-block;
}

.mt-comments .mt-comment .mt-comment-body{
    padding: 0 0 2px 20px;
    position: relative;
    overflow: hidden;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-info:after,
.mt-comments .mt-comment .mt-comment-body .mt-comment-info:before{
    content: " ";
    display: table;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-info .mt-comment-author{
    display: inline-block;
    float: left;
    margin: -3px 0 10px;
    color: #65A0D0;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 16px;
    word-break: break-all;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-info .mt-comment-date{
    display: inline-block;
    float: right;
    margin: 0;
    color: #959595;
    font-size: 12px;
    text-transform: uppercase;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-text{
    color: #6D6D6D;
    font-weight: 400;
    word-break: break-all;
    font-size: 13px;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-details{
    margin: 15px 0 0;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status{
    float: left;
    margin-top: 17px;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions > li {
    float: left;
    padding: 0 5px;
    margin: 0;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions > li > a {
    text-transform: uppercase;
    color: #ffffff;
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions > li > a:hover{
    color: #e8e8e8;
    text-decoration: none;
}

.mt-comments .mt-comment:hover{
    background: #D8ECDD;
}

.mt-comments .mt-comment:hover .mt-comment-body .mt-comment-details .mt-comment-actions{
    display: inline-block;
}

/* Back to top
=================================================================== */
.back-to-top {
    display: inline-block;
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 20px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* Image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #595a59 url(../../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.back-to-top.cd-is-visible, .back-to-top.cd-fade-out, .back-to-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.back-to-top.cd-is-visible {
    /* Button becomes visible */
    visibility: visible;
    opacity: 1;
}
.back-to-top.cd-fade-out {
    /* If the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.back-to-top:hover {
    background-color: #343434;
    opacity: 1;
}

/* Error pages */
.back-to-top-error {
    background: #4DB3A2 url(../../img/cd-top-arrow.svg) no-repeat center 50% !important;
}

.back-to-top-error:hover {
    background-color: #3D9082 !important;
    opacity: 1 !important;
}

/* Custom logout button with icon
   Delete default style */
.button-logout{
    background:none;
    border:none;
    text-transform: uppercase;
}

/* Footer admin layout*/
/*  Copyright */
.copyright-admin {
    text-align: center;
    margin: 30px auto 0 0;
    padding: 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/* Author's name */
.copyright-admin a {
    text-decoration: none;
    color: #4DB3A2;
}

.copyright-admin a:active,
.copyright-admin a:focus,
.copyright-admin a:hover{
    color: #3D9082 !important;
}

/* Logo HP CDS*/
.logoHP-admin{
    text-align: center;
    width: 100%;
    margin: 25px 0 20px 0;
}

.logoHP-admin img {
    width: 95px;
    height: 95px;
}

/* Datatable
=================================================================== */
/* Icon in search box */
.search-datatable {
    margin-left: -20px;
}

/* SweetAlert
=================================================================== */
.sweet-alert {
    background-color: #fff;
}

.sweet-alert h2 {
    color: #ffffff !important;
}

.sweet-alert p {
    color: #ECECE9 !important;
    font-weight: 400 !important;
}

.errorSweetAlert .icon.error {
    border-color: #ffffff !important;
}

.sweet-alert .icon.error .line {
    background-color: #ffffff !important;
}

.sweet-alert .icon.success {
    border-color: #ffffff !important;
}

.sweet-alert .icon.success::before, .sweet-alert .icon.success::after {
    background: transparent !important;
}

.sweet-alert .icon.success .fix {
    background-color: transparent !important;
}

.sweet-alert .sweet-image {
    margin: 20px auto;
}

.sweet-alert .icon.success .line {
    background-color: #ffffff !important;
}

.sweet-alert button {
    border-right-color: #EBEBEB !important;
    border-left-color: #EBEBEB !important;
    background-color: #EBEBEB !important;
    color: #000000 !important;
}

.sweet-alert button:hover {
    background-color: rgb(194, 194, 194) !important;
}

/* Custom error */
/* Box */
.errorSweetAlert {
    background-color: rgb(186, 99, 99) !important;
}

/* Custom success */
/* Box */
.successSweetAlert {
    background-color: #4F904D !important;
}

/* Title */
.successSweetAlert h2 {
    font-size: 26px !important;
}

/* Media queries
=================================================================== */

/* Max-width: 1136px */
@media (max-width: 1136px) {

    .check-delete {
        display: block;
        margin-left: 0;
    }
}

/* Max-width: 991px */
@media (max-width: 991px) {

    .space-secondRow {
        margin: 20px -15px 0 -15px;
    }

    .space-betweenCol {
        margin-top: 20px;
    }

    .widget-thumb {
        margin: 0 0 30px 0;
    }

    .portlet-users {
        margin-top: 0 !important;
    }

    .i-delete-reformat-backend {
        top: 76px;
    }

    .i-delete-username-backend,
    .i-delete-without-name-backend {
        top: 126px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    /* Back top top */
    .back-to-top {
        height: 40px;
        width: 40px;
    }

    /* Index view */
    #list-domain,
    #list-panel {
        margin: 0 15px 0 7px
    }

    .domain-button-group-less {
        margin-top: 20px;
    }
}

/* Max-width: 480px */
@media (max-width: 480px) {

    .form-subtitle{
        margin-top: 10px;
    }

    .group-subtitle {
        margin-top: -15px;
    }

    /* Copyright */
    .copyright-admin {
        font-size: 13px;
    }

    /* Logo HP */
    .logoHP-admin img {
        width: 90px;
        height: 90px;
    }

    /* Position confirmation delete button */
    #delete-confirm-popover {
        margin: 5px 0 50px 0;
    }

    /* Entity message */
    .alert-entity {
        margin: 0 0 48px 0;
    }

    /* Entity errpr message */
    .alert-entity-error {
        margin: 0 0 42px 0;
    }

    /* Log configuration */
    .logConfig-button {
        margin: 50px 0 40px 0;
    }

    /* Log configuration - Alerts */
    .alert-log-success,
    .alert-log-noChanges,
    .alert-log-error,
    .alert-log-internalError {
        margin: 0 0 45px 0;
    }

    /* Accordion password - Admin management */
    .panel-instruction-create {
        margin: 40px 0 40px 0 !important;
    }

    .space-firstRow {
        margin: -8px -15px 0 -15px;
    }

    .panel-row {
        margin-top: -12px;
    }
}

/* Max-width: 341px */
@media(max-width: 340px) {

    /* Profile image */
    .profileImage-view {
        float: left;
        height: 35px;
        display: inline-block;
    }
}

/* Max-width: 333px */
@media (max-width: 333px) {

    #list-domain,
    #list-panel,
    #create-domain,
    #edit-domain {
        margin: 0 7px 0 0;
    }

    .form-subtitle{
        margin-top: 0;
    }

    .group-subtitle {
        margin-top: 0;
    }

    .panel-row {
        margin-top: -8px;
    }

}

/* Max-width: 320px */
@media (max-width: 320px) {

    /* Position confirmation delete button */
    #delete-confirm-popover {
        margin: 10px 0 50px 0;
    }

}