/*-------------------------------------------------------------------------------------------*
*                                 CUSTOM CSS - GENERAL ELEMENTS                              *
*-------------------------------------------------------------------------------------------*/

/* Autofill Chrome without style */
.autofill-input:-webkit-autofill,
.autofill-input:-webkit-autofill:hover,
.autofill-input:-webkit-autofill:focus,
.autofill-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important; /* Transparent background */
    -webkit-text-fill-color: #e5fff3 !important; /* Font color */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important; /* Transparent background */
}

/* Accordion password - Admin management */
.panel-instruction-create {
    margin: -15px 0 50px 0 !important;
}

/* Index and create views */
#list-domain,
#create-domain {
    margin: 0 7px;
}

/* Input - Icons
=================================================================== */
/* Remove IE default icon password */
.password-input::-ms-clear,
.password-confirm-input::-ms-clear {
    display: none;
    width:0;
    height:0 !important;
}

/* Remove IE default X */
.user-input::-ms-clear {
    display: none;
    width:0;
    height:0 !important;
}

/* Remove icon in noRole page */
.i-delete-noRole {
    position: absolute;
    top: 10px;
    right: 100px;
    z-index: 1999;
    cursor: pointer;
    color: #4DB3A2;
}

.i-delete, .i-show, .i-show-confirm {
    display: none;
}

/* Error login alert
=================================================================== */
/* Remove blue border */
.sweet-alert:focus {
    outline:none;
}

/* General elements
=================================================================== */
/* Entity message */
.alert-entity {
    margin: 0 0 60px 0;
}

/* Entity error message */
.alert-entity-error {
    margin: 0 0 50px 0;
}

/* Log configuration */
.logConfig-button {
    margin: 70px 0 40px 0;
}

/* Log configuration - Alerts */
.alert-log-success,
.alert-log-noChanges,
.alert-log-error,
.alert-log-internalError {
    margin: 0 0 60px 0;
}

.alert-danger-custom-backend {
    background-color: #C16868 !important;
    border-color: #040202 !important;
    color: #FFFFFF !important;
}

.alert-success-custom-backend {
    background-color: #5F9A75 !important;
    border-color: #040202 !important;
    color: #FFFFFF !important;
}

.alert-info-custom-backend {
    background-color: #5984C4 !important;
    border-color: #040202 !important;
    color: #FFFFFF !important;
}

/* Refresh icon animation */
.refresh-icon-stop {
    display: none !important;
}

.refresh-icon {
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
    -o-animation: spinO .7s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinMoz {
    from { -moz-transform: scale(1) rotate(0deg);}
    to { -moz-transform: scale(1) rotate(360deg);}
}

@-o-keyframes spinMoz {
    from { -o-transform: scale(1) rotate(0deg);}
    to { -o-transform: scale(1) rotate(360deg);}
}

/* Buttons
=================================================================== */
.btn-success {
    color: #fff;
    background-color: #5F9A75 !important;
    border-color: #5F9A75 !important;
}

.btn-success:hover {
    color: #fff;
    background-color: #3D7B57 !important;
    border-color: #3D7B57 !important;
}

.btn-danger {
    color: #fff;
    background-color: #C16868 !important;
    border-color: #C16868 !important;
}

.btn-danger:hover {
    color: #fff;
    background-color: #9F514F !important;
    border-color: #9F514F !important;
}

/* Back to top
=================================================================== */
.back-to-top {
    display: inline-block;
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 20px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* Image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #595a59 url(../../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.back-to-top.cd-is-visible, .back-to-top.cd-fade-out, .back-to-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.back-to-top.cd-is-visible {
    /* Button becomes visible */
    visibility: visible;
    opacity: 1;
}
.back-to-top.cd-fade-out {
    /* If the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.back-to-top:hover {
    /* TODO
    background-color: #337059; */
    background-color: #343434;
    opacity: 1;
}

/* Error pages */
.back-to-top-error {
    background: #4DB3A2 url(../../img/cd-top-arrow.svg) no-repeat center 50% !important;
}

.back-to-top-error:hover {
    background-color: #3D9082 !important;
    opacity: 1 !important;
}

/* Custom logout button with icon
   Delete default style */
.button-logout{
    background:none;
    border:none;
    text-transform: uppercase;
}

/* Footer admin layout*/
/*  Copyright */
.copyright-admin {
    text-align: center;
    margin: 30px auto 0 0;
    padding: 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/* Author's name */
.copyright-admin a {
    text-decoration: none;
    color: #4DB3A2;
}

.copyright-admin a:active,
.copyright-admin a:focus,
.copyright-admin a:hover{
    color: #3D9082 !important;
}

/* Logo HP CDS*/
.logoHP-admin{
    text-align: center;
    width: 100%;
    margin: 25px 0 20px 0;
}

.logoHP-admin img {
    width: 95px;
    height: 95px;
}

/* Datatable
=================================================================== */
/* Icon in search box */
.search-datatable {
    margin-left: -20px;
}

/* SweetAlert
=================================================================== */
.sweet-alert {
    background-color: #fff;
}

.sweet-alert h2 {
    color: #ffffff !important;
}

.sweet-alert p {
    color: #ECECE9 !important;
    font-weight: 400 !important;
}

.errorSweetAlert .icon.error {
    border-color: #ffffff !important;
}

.sweet-alert .icon.error .line {
    background-color: #ffffff !important;
}

.sweet-alert .icon.success {
    border-color: #ffffff !important;
}

.sweet-alert .icon.success::before, .sweet-alert .icon.success::after {
    background: transparent !important;
}

.sweet-alert .icon.success .fix {
    background-color: transparent !important;
}

.sweet-alert .sweet-image {
    margin: 20px auto;
}

.sweet-alert .icon.success .line {
    background-color: #ffffff !important;
}

.sweet-alert button {
    border-right-color: #EBEBEB !important;
    border-left-color: #EBEBEB !important;
    background-color: #EBEBEB !important;
    color: #000000 !important;
}

.sweet-alert button:hover {
    background-color: rgb(194, 194, 194) !important;
}

/* Custom error */
/* Box */
.errorSweetAlert {
    background-color: rgb(186, 99, 99) !important;
}

/* Custom success */
/* Box */
.successSweetAlert {
    background-color: #4F904D !important;
}

/* Title */
.successSweetAlert h2 {
    font-size: 26px !important;
}

/* Media queries
=================================================================== */

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    /* Back top top */
    .back-to-top {
        height: 40px;
        width: 40px;
    }

    /* Index view */
    #list-domain {
        margin: 0 15px 0 7px
    }
}

/* Max-width: 480px */
@media (max-width: 480px) {

    /* Copyright */
    .copyright-admin {
        font-size: 13px;
    }

    /* Logo HP */
    .logoHP-admin img {
        width: 90px;
        height: 90px;
    }

    /* Entity message */
    .alert-entity {
        margin: 0 0 48px 0;
    }

    /* Entity errpr message */
    .alert-entity-error {
        margin: 0 0 42px 0;
    }

    /* Log configuration */
    .logConfig-button {
        margin: 50px 0 40px 0;
    }

    /* Log configuration - Alerts */
    .alert-log-success,
    .alert-log-noChanges,
    .alert-log-error,
    .alert-log-internalError {
        margin: 0 0 45px 0;
    }

    /* Accordion password - Admin management */
    .panel-instruction-create {
        margin: -5px 0 40px 0 !important;
    }
}
