/*-------------------------------------------------------------------------------------------*
*                                      CONTACT PAGE                                          *
*-------------------------------------------------------------------------------------------*/

.contactPage-container {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.contactPage-container:before {
    background-color: rgba(255, 255, 255, 0.5);
}

.contactPage-container:after {
    background-color: rgba(255, 255, 255, 0.5);
}

.contactPage-container > .row,
.contentPage-form > .row {
    margin-right: 0 !important;
}

.contactPage-container > .row .body {
    position: relative;
    z-index: 100;
    background: rgba(108, 177, 145, 0.85);
    margin: 40px 40px 40px 0;
    padding: 60px 40px;
}

.contactPage-container > .row .body > .section {
    margin-bottom: 15px;
    text-align: right;
    color: #ffffff;
}

.contactPage-container > .row .body > .section > .label {
    display: inline;
    padding: 3px 7px;
    color: #fff;
    background-color: rgba(212, 190, 103, 0.92);
}

.contactPage-container > .row .body > .section > h3 {
    font-size: 24px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
}

.contactPage-container > .row .body > .section > p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
}

.contactPage-container > .row .body > .section > p,
.contactPage-container > .row .body > .section > .iconlist {
    margin-top: 20px;
}

.contactPage-container > .row .body > .section > p > li,
.contactPage-container > .row .body > .section > .iconlist > li {
    list-style: none;
    display: inline-block;
    font-size: 24px;
    padding: 8px 8px 6px 8px;
    background-color: #EFEFEF;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-youtube-play {
    color: #E62117;
}

.fa-google {
    color: #DB4A39;
}

.icofont-web {
    color: #00B388;
    font-size: 25px !important;
}

.btn.customContact {
    color: #000000;
    background-color: rgb(234, 220, 177);
    border-color: rgb(234, 220, 177);
}

.btn.customContact:hover,
.btn.customContact:active,
.btn.customContact:focus {
    color: #000000;
    background-color: rgb(200, 188, 148);
    border-color: rgb(200, 188, 148);
}

.contactPageFAQ,
.contactPageContact {
    padding-right: 0 !important;
}

.contactPage-container > .row .body > .section > p > li:hover,
.contactPage-container > .row .body > .section > .iconlist > li:hover {
    background-color: rgb(84, 83, 83);
    -webkit-transition: background-color 700ms ease-in-out;
    -moz-transition: background-color 700ms ease-in-out;
    -o-transition: background-color 700ms ease-in-out;
    transition: background-color 700ms ease-in-out;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.contactPage-container > .row .body > .section > p > li > a,
.contactPage-container > .row .body > .section > .iconlist > li > a {
    color: #ffffff;
}

.contactPage-gmap {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
}

.contentPage-form {
    width: 100%;
}

.contentPage-form > .row > div .title > h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.contentPage-form > .row > div .title > .line-left {
    margin-bottom: 30px;
    height: 3px;
    width: 40px;
}

.contentPage-form > .row > div .title > p {
    margin-bottom: 30px;
    font-weight: 400;
    text-align: justify;
    font-size: 15px;
}

.contentPage-form > .row > div > .containerContactPage {
    background-size: auto;
    padding: 30px;
    margin: 0 0 30px 0;
    background-color: rgba(212, 174, 59, 0.37) !important;
}

.contentPage-form > .row > div > .containerFaqPage {
    background-size: auto;
    padding: 30px;
    margin: 0 0 30px 0;
    background-color: rgba(108, 177, 145, 0.8) !important;
}

.contentPage-form > .row > div > .containerContactPage > .inverse > h3 {
    color: #000000;
    font-weight: 400;
}

.contentPage-form > .row > div > .containerFaqPage > .inverse > h3 {
    color: #ffffff;
    font-weight: 400;
}

.contentPage-form > .row > div > .containerContactPage > .inverse > .line-left {
    background-color: #ffffff;
}

.contentPage-form > .row > div > .containerFaqPage > .inverse > .line-left {
    background-color: #000000;
}

.contentPage-form > .row > div > .containerContactPage > .inverse > p,
.contentPage-form > .row > div > .containerFaqPage > .inverse > p {
    color: #000000;
}

.contentPage-form > .row > div > .containerContactPage:last-child,
.contentPage-form > .row > div > .containerFaqPage:last-child {
    margin-bottom: 0;
}

.contentPage-form > .row > div > .containerContactPage:last-child p {
    margin-bottom: 20px;
}

.contentPage-form > .row > div > .containerMailcontact {
    padding: 30px;
    margin: 0;
}

.contactMapCol {
    padding-right: 0 !important;
}

.icofont-phone-circle {
    font-size: 19px;
}

.contact-map-email {
    color: #ffffff;
}

.contact-map-email:hover,
.contact-map-email:active,
.contact-map-email:focus {
    text-decoration: none;
    color: #000000;
}

.contact-form-button {
    margin-top: 40px;
}

/* Response */
.contact-responseForm-success {
    background: #79B794;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 55px;
}

.contact-responseForm-error {
    background: #C16868;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 55px;
}

/* Max-width: 991px */
@media (max-width: 991px) {

    .contactPage-gmap {
        display: block;
        position: static;
        width: 100%;
        height: 450px;
    }

    .contactPage-container > .row > div {
        width: 100%;
    }

    .contactPage-container > .row > div .body {
        position: static;
        display: block;
        padding: 30px 20px 10px 20px;
        background: rgba(108, 177, 145, 0.85);
        margin: 0;
        text-align: left;
    }

    .contentPage-form > .row > div > .containerContactPage,
    .contentPage-form > .row > div > .containerFaqPage {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .contactPage-container {
        margin-bottom: 30px !important;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .contactPage-container > .row .body > .section > h3 {
        font-size: 23px !important;
    }

    .contentPage-form > .row > div > .containerContactPage > .inverse > h3,
    .contentPage-form > .row > div > .containerFaqPage > .inverse > h3 {
        font-size: 23px !important;
    }
}

/* Max-width: 480px */
@media (max-width: 480px) {

    .contactPage-container > .row .body > .section > h3 {
        font-size: 22px !important;
    }

    .contentPage-form > .row > div > .containerContactPage > .inverse > h3,
    .contentPage-form > .row > div > .containerFaqPage > .inverse > h3 {
        font-size: 22px !important;
    }

    .contentPage-form > .row > div > .containerContactPage,
    .contentPage-form > .row > div > .containerFaqPage {
        padding: 20px;
    }

    .contentPage-form > .row > div > .containerMailcontact {
        padding: 20px 6px 20px 20px;
    }
}

/* Max-width: 320px */
@media (max-width: 320px) {

    /* Google map */
    .contactPage-gmap {
        height: 400px;
    }

    .contactPage-container > .row .body > .section > h3 {
        font-size: 20px !important;
    }

    .contentPage-form > .row > div > .containerContactPage > .inverse > h3,
    .contentPage-form > .row > div > .containerFaqPage > .inverse > h3 {
        font-size: 20px !important;
    }
}
